body {
    margin: 0;
    padding: 10px;
    /* background: #FCC582; */
    color: #fafafa;
}

.container {
    background-color: #232426; 
    max-width: 350px;
    margin: 0 auto;
    padding: 20px 10px ;
    border: 3px solid #FA9427;
    border-radius: 10px;
}

.heroImg{
    width: 100%;
    margin: 10px auto;
}

ul {
    margin: 0 auto;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0;
}

button {
    background-color: #232426; 
    color: #FA9427;
    font-size: large;
    border: none;
    padding: 10px;
}

i:hover {
    background-color: #FA9427;
    color: #232426;  
}

i {
    max-width: 20px;
    max-height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
}

/*-----------single item from array----------*/
#menu{
    display: flex;
    flex-direction: column;
}

.menuItem {
    max-width: 350px;
    color:#FA9427;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 10px;
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.menuItem img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

h2, h4 {
    margin: 10px;
}

span {
    color: #fafafa;
}