@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');

body {
    padding: 10px;
    color: #fafafa;
    font-family: 'Alegreya', serif;
    margin: 0;
}

h2 {
    margin: 0 5px;
}

h1 {
    text-align:center; 
    margin-top: 0;
    border-bottom: 2px solid white;
}

.container {
    background-color: #232426; 
    max-width: 350px;
    margin: 0 auto;
    padding: 20px 10px ;
    border: 3px solid #FA9427;
    border-radius: 10px;
}

.heroImg{
    width: 100%;
    border-radius: 10px;
}

nav ul {
    margin: 0 auto;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0;
}

button {
    background-color: #232426; 
    color: #FA9427;
    font-size: large;
    border: none;
    padding: 10px;
}

i:hover, .add-to-cart-btn:hover{
    background-color: #FA9427;
    color: #232426;  
}

i {
    max-width: 20px;
    max-height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
}

/*-------------------menu item------------------*/
.menu {
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    min-height: 105px;
}

.menu-item-info {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.menu img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

.name {
    flex: 1; /* Grow to take remaining space */
    text-align: center;
}

.ingredients {
    font-size: smaller;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

span {
    color:#FA9427;
}

.add-to-cart-btn {
    font-size: 30px;
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------- user Order section ---------------- */

#user-order{
    text-align: center;
    padding: 5px;
}

#intro {
    padding: 10px;
 }

#your-order-btn {
    border: 1px solid #232426;
    border-radius: 5px;
    margin: 0px auto;
    width: 100%;
    color: #232426;
    background-color: #FA9427;
}

#your-order-btn:hover{
   color: white;
   border: 1px solid white;
}

.hide {
    display: none;
}